@font-face {
  font-family: 'Delight';
  src: url(../fontes/Delight\ Crush.ttf);
}
@font-face {
  font-family: 'Glittertine';
  src: url(../fontes/Be\ My\ Glittertine.ttf);
}

@font-face {
  font-family: 'ValentineSoul';
  src: url(../fontes/ValentineSoul.ttf);
}


@font-face {
  font-family: 'lovely';
  src: url(../fontes/LovelyRegular.ttf);
}

@font-face {
  font-family: 'mabook';
  src: url(../fontes/Mabook.otf), url(../fontes/Mabook.ttf);
}

@font-face {
  font-family: 'loveU';
  src: url(../fontes/I\ love\ you.ttf);
}

@font-face {
  font-family: 'best';
  src: url(../fontes/Bestlovers.ttf);
}

@font-face {
  font-family: 'cupid';
  src: url(../fontes/Cupid\ Love.ttf);
}

@font-face {
  font-family: 'lover';
  src: url(../fontes/Lover\ Loves.ttf);
}

@font-face {
  font-family: 'pixel';
  src: url(../fontes/rainyhearts.ttf);
}

@font-face {
  font-family: 'cream';
  src: url(../fontes/Cream\ Cake.otf);
}
