* {
  margin: 0;
  background-color: var(--Rosa-Fraco);
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  max-height: 100vh;
}

/*==============================
              HEADER
  ==============================*/

#header {
  background-color: var(--Rosa-Forte);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: 'best';
  background-color: var(--Rosa-Forte);
  border-bottom: 0.063rem solid var(--Preto);
}

h2 {
  background-color: var(--Rosa-Forte);
  font-size: 3.75rem;
  display: inline-block;
  color: var(--Preto);
  color: var(--Preto);
  text-shadow: -0.063rem -0.063rem 0rem var(--Branco),
    -0.063rem 0.063rem 0rem var(--Branco), 0.063rem -0.063rem 0rem var(--Branco),
    0.063rem 0rem 0rem var(--Branco);
}

.headerInfo {
  font-family: 'cupid';
  font-weight: bold;
  background-color: var(--Rosa-Forte);

  font-size: 1.563rem;
}

.nav1 {
  background-color: var(--Rosa-Forte);
}
.nav:hover{
  color: white;
}
.nav3 {
  background-color: var(--Rosa-Forte);
}

ul {
  background-color: var(--Rosa-Forte);
  list-style: none;
  text-align: right;
  cursor: pointer;
}


li {
  background-color: var(--Rosa-Forte);
}

li:nth-last-child(1),
li:nth-last-child(2),
li:nth-last-child(3) {
  float: none;
  display: inline-block;
}

.linkH {
  background-color: var(--Rosa-Forte);
  text-decoration: none;
  color: var(--Preto);
}
.linkH:hover{
  color: white;
}

/*==============================
              MAIN
  ==============================*/

h1 {
  font-family: 'Delight';
  font-size: 45px;
  padding: 20px;
  text-align: center;
  color: hsl(286, 96%, 9%);;
  z-index: 1;
}

/*==============================
            VIDEOS
  ==============================*/

.videos {
  display: flex;
  flex-direction: row;
}

.video {
  border-top: 10%;
  border: 3px solid var(--Preto);
  border-radius: 30px;
  background-color: var(--Rosa-Fraco);
  margin: 2.5rem 0 0 10%;
  width: 27.5rem;
  height: 15.625rem;
  z-index: 1;
}
.bts1{
  cursor: pointer;
}

.videoDireita {
  border-radius: 30px;
  border: 0.188rem solid var(--Preto);
  background-color: var(--Rosa-Fraco);
  margin: 3.75rem 0 0 55%;
  width: 27.5rem;
  height: 15.625rem;
  z-index: 1;
}

/*==============================
          NOME E ESCRITA 1
  ==============================*/

.paragrafo1 {
  font-family: 'pixel';
  font-size: 1.375rem;
  padding-right: 170px;
  margin: 5.625rem 0 0 0.938rem;
  text-decoration: none;
}

.paragrafo2 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1rem;
  margin: 9.375rem 0 0 -17.375rem;
}

.paragrafo3 {
  font-family: 'pixel';
  font-size: 1.375rem;
  margin: 5.625rem 0 0 -56.25rem;
}

.paragrafo4 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1rem;
  margin: 9.375rem 0 0 -14.813rem;
}

.paragrafo5 {
  font-family: 'pixel';
  font-size: 1.375rem;
  margin: 5.625rem 0 0 0.938rem;
}

.paragrafo6 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1rem;
  margin: 9.375rem 0 0 -8.85rem;
}

.paragrafo7 {
  font-family: 'pixel';
  font-size: 1.375rem;
  margin: 5.652rem 0 0 -57.813rem;
}

.paragrafo8 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1rem;
  margin: 9.375rem 0 0 -13.125rem;
}

.paragrafo9 {
  font-family: 'pixel';
  font-size: 1.375rem;
  margin: 5.625rem 0 0 0.938rem;
}

.paragrafo10 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1rem;
  margin: 10rem 0 3.125rem -10.75rem;
}

/*==============================
          NOME E ESCRITA 2
  ==============================*/

.paragrafo11 {
  font-family: 'pixel';
  font-size: 1.375rem;
  margin: 5.625rem 0 0 0.938rem;
}

.paragrafo12 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1rem;
  margin: 9.375rem 0 0 -9.1rem;
}

.paragrafo13 {
  font-family: 'pixel';
  font-size: 1.375rem;
  margin: 5.625rem 0 0 -54.375rem;
}

.paragrafo14 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1rem;
  margin: 9.375rem 0 0 -13.125rem;
}

.paragrafo15 {
  font-family: 'pixel';
  font-size: 1.375rem;
  margin: 5.625rem 0 0 0.938rem;
}

.paragrafo16 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1rem;
  margin: 9.375rem 0 0 -8.2rem;
}

.paragrafo17 {
  font-family: 'pixel';
  font-size: 1.375rem;
  margin: 5.625rem 0 0 -56.25rem;
}

.paragrafo18 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1rem;
  margin: 9.375rem 0 0 -14.088rem;
}

.paragrafo19 {
  font-family: 'pixel';
  font-size: 1.375rem;
  margin: 5.625rem 0 0 0.938rem;
}

.paragrafo20 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1rem;
  margin: 9.375rem 0 3.125rem -12.325rem;
}



/*==============================
      NAVEGAÇÃO ENTRE PAGINAS
  ==============================*/

.nav2 {
  display: inline-block;
  text-decoration: none;
  border-radius: 15%;
  margin: 5% 0 0 50%;
  background-color: var(--Rosa-Fraco);
}

.pagina {
  text-align: center;
  font-size: 0.938rem;
  font-family: 'mabook';
  color: var(--Preto);
  padding: 0.5rem;
  width: 0.625rem;
  padding: 0.625rem;
  text-decoration: none;
  background-color: var(--Rosa-Forte);
  border: 0.125rem solid var(--Rosa-Fraco);
  border-radius: 0.625rem;
}

/*==============================
  NAVEGAÇÃO ENTRE PAGINAS TOPO
  ==============================*/

.nav3 {
  display: inline-block;
  text-decoration: none;
  border-radius: 15%;
  margin: 0 0 0 40%;
  background-color: var(--Rosa-Fraco);
}

.nav4 {
  display: inline-block;
  text-decoration: none;
  border-radius: 15%;
  margin: 3.125rem 0 0 38%;
  background-color: var(--Rosa-Fraco);
}

.pag {
  text-align: center;
  font-size: 0.938rem;
  font-family: 'mabook';
  color: var(--Preto);
  padding: 0.5rem;
  width: 0.625rem;
  padding: 0.625rem;
  text-decoration: none;
  background-color: var(--Rosa-Forte);
  border: 0.125rem solid var(--Rosa-Forte);
  border-radius: 0.625rem;
}
.pag:hover{
  color: white;
}


/*==============================
        VOLTAR AO TOPO
  ==============================*/

.voltar {
  margin-left: 90%;
  display: inline-block;
  list-style: none;
  text-decoration: none;
  font-size: 1, 25rem;
  font-family: 'cupid';
  padding: 0.313rem;
  color: var(--Preto);
  background-color: var(--Branco);
  border-radius: 5rem;
  margin-bottom: 10px;
}

/*==============================
             FOOTER
  ==============================*/

footer {
  font-family: 'lover';
  background-color: var(--Rosa-Forte);
  border-top: 0.063rem solid var(--Preto);
  margin-top: 0.313rem;
}

footer h6 {
  font-size: 3.75rem;
  background-color: var(--Rosa-Forte);
  text-align: center;
  margin: 0.063rem;
}
